.class_container{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.list_container{
    border: 1px solid black;
    width: 83vw;
    padding-left: 5px;
}

.list_buttons{
    display: flex;
    align-items: center;
}

.list_buttons button{
    border: 1px solid transparent;
    outline: none;
    background-color: rgb(47, 131, 39);
    padding: 5px;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-family: Geist, Montserrat, Arial, Helvetica, sans-serif;
    margin: 0px 15px;
}

.list_buttons button:hover{
    background-color: rgb(60, 165, 50);
}

.scan_container{
    border: 1px solid black;
    width: 17vw;
}