.header{
    /*background-color: rgb(100, 5, 20);*/
    background-image: linear-gradient(90deg, rgba(100, 5, 20, 0.8) 0%, rgb(0, 0, 0) 90%), url('../src/bg.jpg');
    background-size: contain;
    background-repeat: repeat;
    align-items: center;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 0px 0px 2px rgb(0,0,0);
    z-index: 100;
}

.header_controls{
    width: 30vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    min-width: 380px;
}
.header_controls button{
    background-color: transparent;
    border: none;
    border-radius: 25px;
    outline: none;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 28px;
    margin: 5px;
}
.header_controls button:hover{
    background-color: rgba(255,255,255,0.1);
}

.header_select{
    width: 60%;
    min-width: 200px;
    height: fit-content;
    font-family: Geist, Montserrat, Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
}
.header_select:hover{
    background: linear-gradient(135deg, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.1) 100%);
}
.header_select option{
    color: black;
    
}

/* DB Card */

.dash_card{
    width: 17.5%;
    min-width: max-content;
    background-color: var(--background);
    margin: 15px;
    padding: 10px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
}
.dash_card h3{
    margin: 2px;
    margin-top: 5px;
}
.dash_card:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
}

.span_id{
    padding: 0px;
    font-size: 13px;
    color: var(--input-border);
}

/* Uploader */

.uploader_container{
    margin-top: 40px;
    
    text-align: center;    
    
}
.uploader_input_container{
    background-image: url('../src/file.png');
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    border-radius: 7px;
    filter: opacity(60%);
}
.uploader_input_container:hover{
    filter: opacity(95%);
    cursor: pointer;
}
.uploader_input_container input{
    filter: opacity(0%);
    width: 350px;
    height: 350px;
}
.u_submit{
    color: white;
    border: none;
    outline: none;
    padding: 7px;
    font-size: 20px;
    margin: 15px;
    margin-top: 20px;
    border-radius:4px;
    background-color: rgb(40,150,40);
}
.u_submit:hover{
    cursor: pointer;
    background-color: rgba(40,180,40,0.8);
}

.u_cancel{
    color: white;
    border: none;
    outline: none;
    padding: 7px;
    margin: 15px;
    font-size: 20px;
    border-radius:4px;
    background-color: rgb(150, 20, 20);
}
.u_cancel:hover{
    cursor: pointer;
    background-color: rgba(180,20,20,0.8);
}

@media (max-width: 700px){
    .logo{
        width: 40%;
        height: 40%;
    }
    .header{
        flex-direction: column;
    }
    .header_controls{
        width: fit-content;
        flex-direction: column-reverse;
    }
    .header_select{
        min-width: fit-content;
        width: fit-content;
    }
    .dash_card{
        width: 100%;
    }   
}